    *,
    *::before,
    *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body, html {
        margin: 0;
        padding: 0;
        background-color: rgb(231, 229, 229);
    }

    body{
        font-family: Arial, sans-serif;
    }

    .header-container {
        width: 100%;
        display: flex;
        background-color: #004797;
        justify-content: space-evenly;
        color: white;
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .header-image {
        padding-top: 1.4rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    nav ul {
        display: flex;
        list-style: none;
        text-decoration: none;
        padding: 0.8rem;
        margin: 0;
        gap: 0.8rem;
        
    }

    nav ul li {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    nav ul li a {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 14px;
    }


    .search {
        width: 50%;
        padding: 0.7rem;
        border-style: none;
        border-radius: 5px;
    }

    .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-container input {
        font-size: 16px;
    }

    .navul-container {
        border-top: 0.2em solid #eb5b25;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        background-color: white;
        overflow: hidden;
    }

    .navul-container ul {
        color: #004797;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navul-container ul li:not(:last-child)::after {
    content: "|";
    margin: 0 0 0 0.8rem;
    color: #004797;
    }

    .navul-container ul li {
        overflow: hidden;
    }

    .navul-container ul li a {
        font-size: 0.9rem;
        transition: 0.3s;

    }

    .navul-container ul li a:hover {
        color: white;
        background-color: #004797;  
    }

    .navul-container a {
        color: #004797;
    }

    .search {
        transition: 0.3s ease-in;
    }

    .search:hover {
        flex-grow: 0.5;
    }

    .span-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .span-icon {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        cursor: pointer;
        font-size: 1.5em;
    }

    .span-text {
        font-size: 0.9rem;
    }

    .section1-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem 0;
        align-items: stretch;
        gap: 1.5rem;
    }

    .section1-container > a > img {
        flex: 0 1 400px;
        width: 100%;
    
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
        background-color: rgb(231, 229, 229);
        gap: 5px;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        width: 40%;
        justify-content: center;
    }

    .grid-container1 a {
        background-color: white;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    .grid-container1 a img {
        width: 3.5rem;
    }

    .grid-container1 a span {
        line-height: 1;
        overflow-wrap: break-word;
    }


    .banner1 {
        width: 100%;
        height: auto;
        margin: 1.5rem 11.5rem 0;
    }

    footer {
        display: grid;
        width: 100%;
        background-color: black;
        color: gray;
        padding: 1rem 10rem;
        text-align: center;
        font-size: 12px;
    }

    footer span {
        color: white;
        font-size: 16px;
    }

   
    .footer-item1 {
    width: 100%;      
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 3rem 0;
    }

    .footer-item2 {
        display: grid;
        justify-content: start;
        padding: 1rem 0;
        border-bottom: 1px solid gray;
    }

    .footer-item3 {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-item3 h3 {
        margin: 0 0 2rem;
    }

    .footer-item3 h3.legales {
        margin: 2rem 0;
    }

    .footer-item3 p {
        margin: 0 0 0.5rem;
    }

    .footer-item4 {
        display: flex;
        justify-content: end;
        align-items: center;
        border-top: 1px solid lightgray;
        padding: 1rem 0;
    }

    .footer-item4 div a img {
        width: 1.5rem;
    margin-left: 1rem;
    }


    @media (max-width: 480px) {
        nav ul {
            display: block;
        }

        .section1-container > a img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .section1-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .grid-container1 {
            grid-template-columns: repeat(2, 1fr);
        }

        .banner1 {
            max-width: 100%;
            height: auto;
            margin: 0;
        }

        footer {
            justify-content: center;
            font-size: 8px;
        }

        footer span {
            font-size: 10px;
        }

    .footer-item1 {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }
    }